<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="https://muazkhan.com:9001/dist/RTCMultiConnection.min.js"></script>
    <script src="https://muazkhan.com:9001/socket.io/socket.io.js"></script>
    <script src="https://kit.fontawesome.com/32b1ec723f.js"></script>
    
    <style>
        
    </style>
</head>
<header>
  <div class="header">
    <div class="logo">
      <div class="header__back">
        <i class="fas fa-angle-left"></i>
      </div>
      <h3>Video Chat</h3>
    </div>
  </div>
</header>
<body>
      <div class="main" style="flex: 1;  background-image: url(https://images3.alphacoders.com/109/1098594.jpg); background-color: #001a29; background-size:cover; height: 92vh;"> 
        <form class="table" id="theForm" action="/join_room">
        <div class="col-3" >
            <input class="effect-3" type="text" id="input-roomid" name="input_roomid" placeholder="ID комнаты" autocomplete="off" maxlength="40" required>
            <span class="focus-border"></span>
        </div>
        <div class="col-3-after">
          <div id="enter-room" class="options__button">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
          </div>
          <input id="input-submit" type="submit" class="options__button" style="display: none;">
        </div>
        </form>
      </div>
</body>
<script type="text/javascript" src="lobby_script.js"></script>
</html>